@font-face {

src: url("fonts/timer.ttf");

font-family: timer;

}

body {
    margin: 0;
    background-color: whitesmoke;
}

.container {
    display: flex;
    justify-content: center;
    
    text-align: center;
    flex-direction: row;
     color: white;
     background-color: #1B244A;;
     width: 50vw;
     height: 350px;
     margin: 0 auto;
     border-radius: 10px
     
}

.card-main{
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 30px;

    
   
}

.scrore-card{
    height: 100px;
    width: 100px;
    background-color: black;
    font-size: 100px;
    text-align: center;
    margin: 10px auto 20px auto;
    color: red;
    font-family: timer;
    display: table;
    text-shadow: 2px 2px 2px white;
    box-shadow: 2px 2px 5px white;
    
    
}

.score-button{
    
    border: solid 2px #9AABD8;
    background-color: inherit;
    color: #9AABD8;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    font-family: timer;
    margin: 0 3px;
    box-shadow: 2px 2px 5px white;
}

h3{
    font-size: 40px;
    margin: 10px;
    padding: 0;
}